<div class="container">
  <h1 class="collection-title text-center text-uppercase"><%= @collection.title %></h1>
  <h4 class="text-center collection-descrtiption">
    <%= @collection.description %>
  </h4>
  <div class="album py-5 bg-light">
    <div class="container">
      <div class="row <%="sortable" if logged_in?(:site_admin) %>">
          <%= render partial: 'portfolio_item', collection: @portfolio_items %>
      </div>
    </div>
  </div>
</div>
<%= render partial: 'collections/admin_actions', locals: { collection: @collection } %>
